<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Accessibility</title>
    <link href="../../dist/index.css" rel="stylesheet" />
    <link href="../../dist/vuetify.css" rel="stylesheet" />
  </head>
  <body>
    <header role="banner">
      <h1>Inaccessible form</h1>
    </header>
    <main role="main">
      <form action="">
        <p>Required fields are bold.</p>
        <p>
          <strong>Name</strong>
          <br />
          <input class="js_required" name="name" type="text" />
        </p>
        <p>
          <strong>E-mail</strong>
          <br />
          <input class="js_required" name="email" type="email" />
        </p>
        <div data-app>
          <div class="v-application">
            <div>
              <div class="d-flex">
                <v-select :items="['Foo', 'Bar', 'Fizz', 'Buzz']" label="Type"></v-select>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon color="primary" dark v-bind="attrs" v-on="on"> mdi-help-circle </v-icon>
                  </template>
                  <span>Tooltip text</span>
                </v-tooltip>
              </div>
              <div>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="date"
                      label="Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false"> Cancel </v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(date)"> OK </v-btn>
                  </v-date-picker>
                </v-menu>
              </div>
            </div>
          </div>
        </div>
        <p>
          <input type="submit" value="Submit" />
        </p>
      </form>
    </main>
    <hr />
    <a class="js-toggle" href="#issues">Show issues</a>
    <div class="issues is-invisible js-details" id="issues">
      <h2>Issues</h2>
      <ul>
        <li><code>label</code> tags omitted or hidden.</li>
        <li>Required fields not properly marked.</li>
        <li>Inaccessible select, tooltip and datepicker widgets from UI framework.</li>
        <li>Unnoticed insertion of error message.</li>
        <li>No connection of error messages to invalid fields.</li>
      </ul>
    </div>
    <hr />
    <nav role="navigation">
      <a class="next" href="../../demos/form/form-accessible.html">Forward to "Accessible form" »</a>
      <a class="prev" href="../../demos/images/images-accessible.html">« Back to "Accessible images and icons"</a>
      <a class="index" href="../../index.html">Index</a>
    </nav>
    <script src="../../dist/index.js"></script>
    <script src="../../dist/vuetify.js"></script>
    <script>
      (function () {
        "use strict";

        var form = document.querySelector("form"),
          fields = [],
          testField = function (field) {
            if (field.input.value === "") {
              // Insert message after input field
              if (!field.isInvalid) {
                // field.input.parentNode.insertBefore(field.error, field.input.nextSibling);
                field.input.parentNode.appendChild(field.error);

                field.isInvalid = true;
              }

              return false;
            } else if (field.isInvalid) {
              // Remove message
              field.error.parentNode.removeChild(field.error);

              field.isInvalid = false;
            }

            return true;
          };

        // Save fields and prepare error messages
        [].forEach.call(form.querySelectorAll(".js_required"), function (input) {
          var error = document.createElement("span"),
            errorMessage = document.createTextNode("Error: Field must not be empty");

          error.appendChild(errorMessage);
          error.classList.add("error");

          fields.push({
            input: input,
            error: error,
            isInvalid: false,
          });
        });

        // Loop through fields on submit and toggle error message
        form.addEventListener(
          "submit",
          function (event) {
            var validationFailed = false;

            fields.forEach(function (field) {
              if (!testField(field)) {
                validationFailed = true;
              }
            });

            if (validationFailed) {
              event.preventDefault();
            }
          },
          false
        );
      })();
    </script>
  </body>
</html>
