/* Overwrites */
.v-input {
  max-width: 100%;
  width: 16.66667em;
}
.v-input input {
  background: transparent;
  border: 0;
}
.v-picker button {
  appearance: none;
  border: 0;
  background: transparent;
}
